body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
}

th {
  background: #1e293b;
}

button {
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #1d4ed8;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: #020617;
  padding: 20px;
  width: 350px;
  margin: 100px auto;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
}

.modal-actions {
  margin-top: 15px;
  text-align: right;
}
